
 /* box model- every element has the some rectangle surrounded to it. */
 /* it has for parameters- */

 /* 
 dimensions-width or height
 border
 margin
 padding */


p {
     /* margin mdm */
    /* //dimensio-width or height */

     width: 300px;

    border:2px solid green;

    margin:50px;
    padding: 50px 40px 30px 60px;


    /* //padding */
}
 